header {
    width: 100%;
    height: 48px;
    color: white;
    background-image: linear-gradient(to right, rgb(190, 34, 107), rgb(187, 69, 23));
    cursor: pointer;
}

p.titulo {
    font-weight: bold;
}

.informacoes-header {
    position: relative;
    top: 4px;
}

.informacoes-header p.text-header {
    font-size: 13px;
}

.container {
    width: 98%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.input-header input[type=submit] {
    color: white;
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid white;
    padding: 6px 10px;
    position: relative;
    top: 6px;
}

.idiomas {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.idiomas a {
    text-decoration: none;
    color: gray;
}

.logo-insta p {
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    margin: 15px 55px;
}

main.principal {
    width: 100%;
}

.form {
    margin: 40px auto;
    width: 350px;
    height: 400px;
    border: 1px solid #cccccc;
}

.form .btn0 a {
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 3px;
}

.btn0 {
    width: 70%;
    height: 32px;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
}

.linha {
    width: 70%;
    height: 1px;
    margin: 28px auto;
    background-color: #cccccc;
    position: relative;
}

.ou {
    position: absolute;
    right: 50%;
    bottom: -29px;
    right: 50%;
    transform: translate(50%, 0);
    width: 60px;
    height: 40px;
    text-align: center;
    background-color: white;
    z-index: 98;
    color: rgb(112, 108, 108);
}

.wraper-inputs {
    width: 70%;
    margin: 0 auto;
}

.wraper-inputs input {
    margin: 5px 0;
    z-index: 99;
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #f3f3f3ef;
    padding-left: 9px;
}

.wraper-inputs a {
    display: block;
    float: right;
    text-decoration: none;
    color: blue;
    margin: 5px 0;
}

.btn {
    margin: 13px auto;
    text-align: center;
    width: 70%;
    height: 27px;
    background-color: #0095f6;
    position: relative;
    border-radius: 3px;
}

.btn a {
    text-decoration: none;
    position: relative;
    top: 3px;
    color: white;
}

form footer {
    margin: 30px 0 0 0;
    text-align: center;
    color: gray;
}

form footer a {
    color: blue;
    text-decoration: none;
}

.from-face {
    text-align: center;
    margin: 80px 0 20px 0;
}

.from-face>p {
    color: gray;
}

.from-face>span>p {
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}

footer.rodape {
    width: 100%;
    background-color: rgb(251, 247, 247);
}

.rodape ul li {
    display: inline-block;
    margin: 0 8px;
}

.rodape ul {
    text-align: center;
    width: 600px;
    margin: 0px auto;
}

.rodape ul li a {
    font-size: 14px;
    text-decoration: none;
    color: gray;
}